@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  background-image: url("../assets/img/bg.jpg");
  background-size: cover;
  width: 100%;
}

#logo {
  margin-left: 3.2em;
  margin-top: 35px;
  width: 100px;
}

.text {
  text-align: center;
  color: white;
  margin-top: 60px;
}
.text h3 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 15px;
}
.text p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#star {
  text-align: center;
  margin-top: 50px;
}
.star {
  mix-blend-mode: darken;
}
.star:hover {
  mix-blend-mode: normal;
}

.text2 p {
  color: white;
  padding-top: 40px;
  text-align: center;
  margin-bottom: 1.8em;
}

.form {
  text-align: center;
  margin-top: 10px;
}
.box {
  width: 35%;
  margin: px;
  height: 20px;
  background-color: rgb(0, 0, 0, 0);
  color: white;
  border-color: transparent transparent fuchsia transparent;
}

.button-div {
  width: 100%;
  text-align: center;
}

.button-div button {
  width: 180px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 45px;
  background-color: #00ffff;
  height: 45px;
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
  
  border-color: transparent;
}
.button-div button:hover{
  box-shadow: 0px 0px 10px 2px #00FFFF;
}
button a {
  text-decoration: none;
  color: black;
}
