@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
}

body {
  background-image: url("../assets/img/bg.jpg");
  background-size: cover;
  width: 100%;
}

#logo {
  margin-left: 4em;
  margin-top: 35px;
  width: 100px;
}

#question {
  color: white;
  font-size: 2em;
  text-align: center;
  margin-bottom: 50px;
  display: inline-block;
}

#scoreOnGoing {
  text-align: center;
}

#question-section {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#main-question {
  text-align: center;
  margin-top: 120px;
}

#buttonsContainer {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#buttonsContainer button {
  width: 322px;
  height: 67px;
  border-radius: 49px;
  background-color: #23294f;
  color: white;
  font-weight: 600;
  font-size: 1em;
  border-bottom-color: #23294f;
  border-color: white;
  cursor: pointer;
  margin-bottom: 15px;
}
#question-section button:hover {
  background: linear-gradient(180deg, #cc0092, #8e007b);
}

#scoreOnGoing {
  color: white;
  display: flex;

  justify-content: center;
}

#scoreOnGoing span {
  color: #b51289;
}

#countdown {
  float: right;
  margin-right: 180px;
  color: white;
  margin-top: 50px;
  width: 80px;
  height: 80px;
}

br {
  line-height: 1;
}

#countdown span {
  font-size: 2em;

  line-height: 0;
  padding-left: 4px;
}

#countdown p {
  margin: 0;
  line-height: 1;
  font-size: 0.6em;
}

#countdown:nth-child(2) {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

/* RESULTS PAGE CSS */

#result-text-static {
  color: white;
  text-align: center;
  line-height: 0.5;
}

#result-text-static h1,
h2 {
  font-size: 2.8em;
}
h1:first-of-type {
  font-weight: 900;
}

#result-text-static h1 {
  font-weight: 300;
}

#result-text-static > p {
  font-size: 1.2em;
  letter-spacing: 1px;
}

#answersDinamic {
  display: flex;
  justify-content: space-evenly;
  margin-top: 46px;
}

#rate-button {
  margin-top: 20px;
  width: 180px;
  height: 50px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 1em;
  font-weight: 600;
}
#rate-button:hover {
  box-shadow: 0px 0px 10px 2px #00ffff;
}
#button-section {
  margin-top: 50px;
}

#correct-section,
#wrong-section {
  margin-top: 50px;
}

#chart {
  position: relative;
  width: 20%;
  word-wrap: break-word;
  margin-top: 30px;
}

#inner1 {
  position: absolute;

  width: 130px;
  left: 70px;
  bottom: 160px;
  font-size: 0.7em;
}
#inner2 {
  position: absolute;
  left: 60px;
  bottom: 145px;
  width: 153px;
  font-size: 0.7em;
}

#inner3 {
  position: absolute;
  left: 70px;
  width: 128px;
  font-size: 0.6em;
  line-height: 12px;
  bottom: 70px;
  font-weight: 200;
}
